<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is amazing</title>
    <style>
        h1 {
            font-family: SaxMono;
            font-size: 2em;
            background-color: lightgray;
            padding: .3em;
        }
        </style>
</head>
<body>
    <h1>Now we have a great title</h1>
    <div>
        And here, a div. What do you think about?
    </div>
    <div>
        <p>Today is a fucking {{dow.today}} day.</p>
        <p>Tomorrow is a fucking {{dow.tomorrow}} day.</p>
    </div>
    <div>
        Testing...
    </div>
    <div>
        Name: {{ob.name}}<br/>Age: {{ob.age}}<br/>Gender: {{ob.gender}}
    </div>
</body>
</html>